.Button {
  box-sizing: border-box;
  border-radius: 9px;
  padding: 13px;
  text-decoration: none;
  min-width: 20%;
  transition: all 0.85s ease-in-out;
  font-weight: 300;

  &:focus {
    outline: none;
  }

  &--invisible {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;
  }

  &--brand {
    background-color: $brand-color;
    color: #fff;
    border: none;

    &:hover {
      background-color: $brand-color-dark !important;
      color: #fff !important;
    }

    &-dark {
      background-color: $brand-color;
      color: #fff;
      border: none;

      &:hover {
        background-color: $brand-color-dark !important;
        color: #fff !important;
        box-shadow: 0 0 4px 2px #fff;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
