.Button {
  box-sizing: border-box;
  border-radius: 9px;
  padding: 13px;
  text-decoration: none;
  min-width: 20%;
  transition: all 0.85s ease-in-out;
  font-weight: 300;

  &:focus {
    outline: none;
  }

  &--invisible {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;
  }

  &--brand {
    background-color: $brand-color;
    color: $brand-color-alt;
    border: none;

    &:hover {
      background-color: $brand-color-lighter !important;
      color: $brand-color !important;
    }

    &--link {
      background-color: transparent;
      color: $brand-color;
      border: none;

      &:hover {
        background-color: $brand-color-lighter !important;
      }
    }

    &--reverse {
      background-color: $brand-color-lighter;
      color: $brand-color;
      border: none;

      &:hover {
        background-color: $brand-color !important;
        color: $brand-color-alt !important;
      }
    }
  }

  &--brand-alt {
    background-color: $brand-color-alt;
    color: $brand-color;
    border: none;

    &:hover {
      background-color: $brand-color-alt-lighter !important;
    }

    &-account {
      background-color: $brand-color-alt;
      color: $brand-color;
      border: none;

      &:hover {
        background-color: $brand-color-alt-lighter !important;
        color: #fff !important;
      }
    }

    &--link {
      background-color: transparent;
      color: $brand-color;
      border: none;

      &:hover {
        background-color: $brand-color-alt-lighter !important;
      }
    }

    &--reverse {
      background-color: $brand-color-alt-lighter;
      color: $brand-color;
      border: none;

      &:hover {
        background-color: $brand-color-alt !important;
      }

      &-account {
        background-color: $brand-color-alt-lighter;
        color: #fff;
        border: none;

        &:hover {
          background-color: $brand-color-alt !important;
          color: $brand-color !important;
        }
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}
