.Controls {
  border: 2px solid $brand-color;
  border-radius: 100%;
  max-width: 95px;
  height: 100px;
  padding: 30px;
  cursor: pointer;
  transition: all 1s ease;

  &--dark {
    & h5 {
      color: $brand-color-dark;
    }

    &:hover {
      background-color: #fff;
    }
  }

  &--light {
    & h5 {
      color: #fff;
    }

    &:hover {
      background-color: $brand-color-dark;
    }
  }

  &__inner {
    display: flex;

    & h5 {
      
      margin-top: 6px;
      display: none;
      transition-delay: 0.5s;
    }
  }

  &:hover {
    max-width: max-content !important;
    border-radius: 300px !important;

    & .Controls__inner {
      & h5 {
        display: block !important;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  &__clicked {
    animation-name: clicked;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
  }
}

@keyframes clicked {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.6);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
