.Counter {
  transition: all 0.8s ease;

  &--dark {
    color: #fff;
  }

  &--light {
    color: $brand-color-dark;
  }

  &__inner {
    display: flex;
    font-size: 200px;
  }

  &__blinking {
    animation: blinkingText 0.8s infinite;
  }

  &__textred {
    color: $color-danger !important;
  }

  &__changed {
    animation-name: counterChange;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-fill-mode: backwards;
  }

  &__timeup {
    animation-name: counterTimeup;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-fill-mode: backwards;
  }
}

@keyframes blinkingText {
  0% {
    color: $color-danger;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: $color-danger;
  }
}

@keyframes counterChange {
  0% {
    transform: scale(0.7);
  }

  25% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes counterTimeup {
  0.0% {
    opacity: 1;
    transform: scale(1);
  }

  15.1% {
    opacity: 0.9;
    transform: scale(1.4);
  }

  31.0% {
    opacity: 0.8;
    transform: scale(2.9);
  }

  44.9% {
    opacity: 0.6;
    transform: scale(5.7);
  }

  62.9% {
    opacity: 0.5;
    transform: scale(9.5);
  }

  77.3% {
    opacity: 0.4;
    transform: scale(12.9);
  }

  87.6% {
    opacity: 0.2;
    transform: scale(18.9);
  }

  94.4% {
    opacity: 0.1;
    transform: scale(22.9);
  }

  99.8% {
    opacity: 0;
    transform: scale(29.9);
  }
}
