.SpeedControls {
  max-width: 100px;
  margin-right: 20px;
  transition: all 0.5s ease;

  &--dark {
    color: #fff;

    &.SpeedControls__active {
      & .SpeedControls__inner {
        background-color: #fff;
        border: 2px solid #fff;
        color: $brand-color-dark;

        &:hover {
          background-color: #fff;
          color: $brand-color-dark;
        }
      }
    }

    & .SpeedControls__inner {
      &:hover {
        background-color: #89898a44;
        color: #fff;
      }
    }
  }

  &--light {
    &.SpeedControls__active {
      & .SpeedControls__inner {
        background-color: $brand-color-dark;
        border: 2px solid $brand-color-dark;
        color: #fff;

        &:hover {
          background-color: $brand-color-dark;
          color: #fff;
        }
      }
    }

    & .SpeedControls__inner {
      &:hover {
        background-color: #282c3444;
      }
    }
  }

  &__inner {
    border: 2px solid $brand-color;
    border-radius: 5px;
    max-width: 100px;
    padding: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: $brand-color-dark;
    }
  }

  &__clicked {
    animation-name: clicked;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
  }
}
