.ThemeController {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 89;
  transition: all 1s ease;

  &__inner {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    & svg {
      margin-right: -6px;
    }
  }

  &__dark {
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top-left-radius: 5px;
    padding: 10px;
    background-color: #fff;

    &:first-of-type {
      border-bottom: none;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-top-left-radius: none;
      background-color: transparent !important;
    }
  }

  &__light {
    border-left: 1px solid $brand-color-dark;
    border-top: 1px solid $brand-color-dark;
    border-bottom: 1px solid $brand-color-dark;
    border-top-left-radius: 5px;
    padding: 10px;
    background-color: $brand-color-dark;

    &:first-of-type {
      border-bottom: none;
      background-color: transparent !important;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-top-left-radius: none;
    }
  }
}
