.Countdown {
  &__body {
    min-height: 500px;
    padding: 30px;
    max-width: 100%;
    transition: all .8s ease;

    &--dark {
      background-color: #000;

      & .Countdown__speed {
        color: #fff;
      }
    }
  }

  &__main {
    display: flex;
    max-width: 800px;
    margin: auto;

    &__left {
      margin-top: 100px;
      margin-right: 50px;
    }

    &__right {
      margin-top: 100px;
      margin-left: 50px;
    }
  }

  &__speed {
    max-width: 800px;
    margin: auto;
    margin-bottom: 300px;

    &__inner {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }
  }
}
